[{:db/id #db/id[:db.part/db]
  :db/ident :financial-record/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A financial record's description"
  :db.install/_attribute :db.part/db}
 
 {:db/id #db/id[:db.part/db]
  :db/ident :financial-record/posted-at
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "A financial records's date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :financial-record/value
  :db/valueType :db.type/bigdec
  :db/cardinality :db.cardinality/one
  :db/doc "A financial records's value"
  :db.install/_attribute :db.part/db}]
